$blue:#389AF5;

$body-color:#414141;

$font-family-sans-serif:rubik, system-ui, -apple-system, "segoe UI", Roboto, "Helvetice Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Colocr Emoji", "Segoe UI Emoji", "Segoe UI SYmbol", "Note Color Emoji";

$headings-font-weight:700;